<!DOCTYPE html>
<html>
<head>
	<title>Financial Table Settings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />

	<style type="text/css">
	.widget-wrapper {
		/*display: none; */
	}
	</style>

	<!-- build:css css/settings.min.css -->
	<link rel="stylesheet" href="components/common-style/dist/css/rise.min.css">
	<link rel="stylesheet" href="components/spectrum/spectrum.css">
	<link rel="stylesheet" href="components/select2/select2.css">
	<link rel="stylesheet" href="components/bootstrap-select/bootstrap-select.css">
	<link rel="stylesheet" href="components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css">
	<link rel="stylesheet" href="components/component-subscription-status/dist/css/subscription-status.css">
  <!-- endbuild -->
</head>
<body ng-app="risevision.widget.financialTable.settings" ng-controller="settingsController">
	<div class="widget">
		<div class="overlay"></div>
		<div class="settings">
      <div class="settings-center">
			  <div class="wrapper container modal-content" scroll-on-alerts ng-controller="financialTableSettingsController">
				<div class="modal-header">
				  <h1 id="settings-title"> {{'settings' | translate }}
		        <button id="settings-close" type="button" class="close"
		          ng-click="closeSettings();">
							<i class="fa fa-times"></i>
							<span class="sr-only">Close</span>
		        </button>
		      </h1>
					<div id="subscription-status" subscription-status
					product-id="{{PRODUCT_ID}}" product-code="{{PRODUCT_CODE}}" company-id="{{settings.params.companyId}}"
					ng-model="subscribed"></div>
					<div class="sticky-wrapper">
            <widget-button-toolbar
              save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid"
              help="http://www.risevision.com/?page_id=25117"
              contribute="https://github.com/Rise-Vision/widget-financial-table"></widget-button-toolbar>
          </div>
		    </div>
		    <div id="settings-alert" class="alert alert-danger" ng-show="onError"></div>
				<form role="form" name="settingsForm">
					<div class="row">
						<div class="col-md-12">
							<div ng-class="{'form-group':true, 'has-error':settingsForm.instruments.$invalid}">
								<label for="instruments" class="control-label">{{'instruments.label' | translate}}</label>
								<div name="instruments" financial-selector instruments="settings.additionalParams.instruments"
									ng-model="financialselector" required></div>
								<p class="text-danger" ng-show="settingsForm.instruments.$error.required">
									{{'instruments.error.required' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div ng-class="{'form-group':true, 'has-error':settingsForm.columns.$invalid}">
								<column-selector name="columns"	columns="settings.additionalParams.columns" column-names="financialColumns"
									ng-model="columnselector" required></column-selector>
								<p class="text-danger" ng-show="settingsForm.columns.$error.required">
									{{'columns.error.required' | translate}}
								</p>
							</div>
						</div>
					</div>
					<scroll-setting scroll="settings.additionalParams.scroll"></scroll-setting>
					<table-setting table="settings.additionalParams.table"></table-setting>
					<div class="section">
						<h5>{{'disclaimer.heading' | translate}}</h5>
						<div class="row">
							<div class="col-md-12">
								<p class="text-warning">{{'disclaimer.warning' | translate}}</p>
								<div class="form-group">
									<font-setting font-data="settings.additionalParams.disclaimer.font"
											preview-text="{{'disclaimer.font.text' | translate}}" hide-alignment="true">
									</font-setting>
								</div>
							</div>
						</div>
					</div>
					<background-setting background="settings.additionalParams.background"></background-setting>
					<!--
					<div class="row">
						<div class="col-md-12">
							<div class="checkbox">
								<label for="terms">{{'default-layout' | translate}}
									<input id="terms" name="terms" type="checkbox" ng-model="settings.additionalParams.defaultLayout" />
								</label>
							</div>
						</div>
					</div>
					<div class="row" ng-show="settings.additionalParams.defaultLayout === true">
						<div class="col-md-7">
							<div class="form-group">
							    <label for="layout-url">
							    	{{'layout-url' | translate}}
							    </label>
							    <input id="layout-url" name="layout-url" type="text"
									ng-model="settings.additionalParams.layoutUrl" class="form-control" />
							</div>
						</div>
					-->
					</div>
				</form>
			</div>
      </div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>

	<!-- build:js js/settings.min.js -->
	<script src="components/angular-translate/angular-translate.js"></script>
	<script src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
	<script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="config/config.js"></script>
	<script src="settings/settings-app.js"></script>
	<script src="components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
	<script src="settings/ctr-financial-table-settings.js"></script>

  <script src="components/widget-settings-ui-components/dist/js/angular/widget-button-toolbar.js"></script>

	<script src="components/widget-settings-ui-components/dist/js/alignment.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/alignment.js"></script>

	<script src="components/widget-settings-ui-components/dist/js/angular/color-picker.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/scroll-setting.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/column-setting.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/column-selector.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/table-setting.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/tooltip.js"></script>

	<script src="components/bootstrap-select/bootstrap-select.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/url-field.js"></script>
	<script src="components/rv-bootstrap-formhelpers/dist/js/rv-bootstrap-formhelpers.js"></script>
	<script src="components/bootstrap-form-components/dist/js/bootstrap-font-picker.js"></script>
	<script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
	<script src="components/bootstrap-form-components/dist/js/bootstrap-font-size-picker.js"></script>
	<script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-size-picker.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/font-style.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/font-style.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/font-setting.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/background-setting.js"></script>

	<script src="components/component-financial-selector/dist/js/financial-selector.js"></script>
	<script src="components/component-subscription-status/dist/js/subscription-status.js"></script>

	<script src="components/spectrum/spectrum.js"></script>
	<script src="components/select2/select2.js"></script>
	<!-- endbuild -->

	<!-- build:e2egadgets -->
	<script src="//rvashow2.appspot.com/gadgets/gadgets.min.js"></script>
	<!-- endbuild -->

	<script src="//www.google.com/jsapi"></script>
	<script>
		google.load("visualization", "1");
	</script>

	<script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>

</body>
</html>
