<!DOCTYPE html>
<html>
<head>
	<title>Financial Table Settings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />

	<style type="text/css">
	.widget-wrapper {
		/*display: none; */
	}
	</style>

	<link rel="stylesheet" href="//s3.amazonaws.com/rise-common-test/styles/glyphicons/glyphicons.min.css">

	<!-- build:css css/settings.min.css -->
	<link rel="stylesheet" href="components/common-style/dist/css/rise.min.css">
	<link rel="stylesheet" href="components/spectrum/spectrum.css">
	<link rel="stylesheet" href="components/select2/select2.css">
	<link rel="stylesheet" href="components/bootstrap-select/bootstrap-select.css">
	<link rel="stylesheet" href="components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css">
	<link rel="stylesheet" href="components/widget-settings-ui-components/dist/css/widget-settings-ui-components.css">
  <!-- endbuild -->

	<!-- build:js js/settings.min.js -->
	<script src="components/angular/angular.js"></script>
	<script src="components/angular-translate/angular-translate.js"></script>
	<script src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
	<script src="settings/settings-app.js"></script>
	<script src="components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
	<script src="settings/ctr-financial-table-settings.js"></script>

	<script src="components/widget-settings-ui-components/dist/js/alignment.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/alignment.js"></script>

	<script src="components/widget-settings-ui-components/dist/js/angular/color-picker.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/scroll-setting.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/column-setting.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/column-selector.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/table-setting.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/tooltip.js"></script>

	<script src="components/bootstrap-select/bootstrap-select.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/url-field.js"></script>
	<script src="components/rv-bootstrap-formhelpers/dist/js/rv-bootstrap-formhelpers.js"></script>
	<script src="components/bootstrap-form-components/dist/js/bootstrap-font-picker.js"></script>
	<script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
	<script src="components/bootstrap-form-components/dist/js/bootstrap-font-size-picker.js"></script>
	<script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-size-picker.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/font-style.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/font-style.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/font-setting.js"></script>
	<script src="components/widget-settings-ui-components/dist/js/angular/background-setting.js"></script>

	<script src="components/component-financial-selector/dist/js/financial-selector.js"></script>

	<script src="components/spectrum/spectrum.js"></script>
	<script src="components/select2/select2.js"></script>
	<!-- endbuild -->

	<!-- build:e2egadgets -->
	<script src="//rvashow2.appspot.com/gadgets/gadgets.min.js"></script>
	<!-- endbuild -->

	<script src="//www.google.com/jsapi"></script>
	<script>
		google.load("visualization", "1");
	</script>

</head>
<body ng-app="risevision.widget.financialTable.settings" ng-controller="settingsController">
	<div class="widget-overlay"></div>
	<div class="widget-wrapper container modal-content" scroll-on-alerts ng-controller="financialTableSettingsController">
		<div class="modal-header">
		  <h2 id="settings-title"> {{'settings' | translate }}
        <button id="settings-close" type="button" class="close"
                aria-hidden="true">
          <i class="glyphicons remove_2"></i>
        </button>
      </h2>
      <div class="sticky-wrapper">
        <div class="btn-toolbar sticky-buttons">
          <button id="save" class="btn btn-primary" type="button"
						ng-click="saveSettings();" ng-disabled="settingsform.$invalid">
            <span>{{'common.buttons.save' | translate}}</span>
            <i class="glyphicons white ok_2 icon-right"></i>
          </button>
          <button id="cancel" class="btn btn-primary" type="button">
            <span>{{'common.buttons.cancel' | translate}}</span>
            <i class="glyphicons white remove_2 icon-right"></i>
          </button>
          <button id="help" class="btn btn-primary" type="button">
            <span>{{'common.buttons.help' | translate}}</span>
            <i class="glyphicons white circle_question_mark icon-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="settings-alert" class="alert alert-danger" ng-show="onError"></div>
		<form role="form" name="settingsform">
			<div class="row">
				<div class="col-md-7">
					<div ng-class="{'form-group':true, 'has-error':settingsform.instruments.$invalid}">
						<label for="instruments" class="control-label">{{'instruments.label' | translate}}</label>
						<div name="instruments" financial-selector instruments="settings.params.instruments"
							ng-model="financialselector" required></div>
						<small class="help-block" ng-show="settingsform.instruments.$error.required">
							{{'instruments.error.required' | translate}}
						</small>
					</div>
				</div>
			</div>
			<scroll-setting scroll="settings.additionalParams.scroll"></scroll-setting>
			<table-setting table="settings.additionalParams.table"></table-setting>
			<background-setting background="settings.params.background"></background-setting>

			<div class="row">
				<div class="col-md-8">
					<div ng-class="{'form-group':true, 'has-error':settingsform.columns.$invalid}">
					  <label for="columns" class="control-label">{{'columns.label' | translate}}</label>
						<tooltip data-toggle="popover" data-placement="right"
							data-content="{{'columns.tooltip' | translate}}">
						</tooltip>
						<column-selector name="columns"	columns="settings.additionalParams.columns" column-names="financialColumns"
							ng-model="columnselector" required></column-selector>
						<small class="help-block" ng-show="settingsform.columns.$error.required">
							{{'columns.error.required' | translate}}
						</small>
					</div>
				</div>
			</div>
			<!--
			<div class="row">
				<div class="col-md-12">
					<div class="checkbox">
						<label for="terms">{{'default-layout' | translate}}
							<input id="terms" name="terms" type="checkbox" ng-model="settings.additionalParams.defaultLayout" />
						</label>
					</div>
				</div>
			</div>
			<div class="row" ng-show="settings.additionalParams.defaultLayout === true">
				<div class="col-md-7">
					<div class="form-group">
					    <label for="layout-url">
					    	{{'layout-url' | translate}}
					    </label>
					    <input id="layout-url" name="layout-url" type="text"
							ng-model="settings.additionalParams.layoutUrl" class="form-control" />
					</div>
				</div>
			-->
			</div>
		</form>
	</div>

	<script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>
	<script src="//s3.amazonaws.com/rise-common/scripts/sticky/jquery.sticky.min.js"></script>
	<script src="//s3.amazonaws.com/Common-Production/Common/RiseVision.Common.min.js"></script>

	<script src="//datejs.googlecode.com/svn/trunk/build/date.js"></script>

  <script type="text/javascript" src="../FinancialTable.min.js"></script>

  <script type="text/javascript">
	var prefs = new gadgets.Prefs(),
    financial = null;

	$(document).ready(function() {
	    financial = new RiseVision.FinancialSettings();

	    gadgets.rpc.register("rscmd_getSettings", financial.getSettings);
	    gadgets.rpc.register("rscmd_financialSelectorCallback", financial.setStocks);
	    gadgets.rpc.register("rscmd_colorPickerCallback", financial.setColor);
	    gadgets.rpc.register("rscmd_fontSelectorCallback", financial.setFont);

	    financial.initSettings();
	});

  </script>
</body>
</html>
